server:
  port: 8080

spring:
  application:
    name: api-gateway
  webflux:
    cors:
      allowed-origins: "*" # Cambia esto en producción
      allowed-methods: "*"
      allowed-headers: "*"
      max-age: 3600

  cloud:
    gateway:
      routes:
        # =================================================================
        # 1. Ruta para Actuator (Prometheus, Health)
        # =================================================================
        - id: taller-api-2-actuator-route
          uri: http://taller-api-2:8080
          predicates:
            - Path=/actuator/**
          order: 0 # Prioridad más alta

        # =================================================================
        # 2. Ruta principal de la API (CON LA SINTAXIS SIMPLIFICADA)
        # =================================================================
        # Esta ruta SÍ debe tener menor prioridad (un número más alto)
        # que la ruta de agregación que está en el controlador.
        - id: taller-api-2-proxy-route
          uri: http://taller-api-2:8080
          order: 10 # Prioridad baja
          predicates:
            - Path=/api/**

        # =================================================================
        # 3. Ruta a Keycloak
        # =================================================================
        - id: keycloak-route
          uri: http://keycloak:8080
          order: 1
          predicates:
            # Redirige todas las peticiones necesarias para el login y la admin console
            - Path=/realms/**, /admin/**, /resources/**, /js/**

management:
  endpoints:
    web:
      exposure:
        # Exponemos los endpoints del PROPIO Gateway
        include: health,info,metrics,gateway